/* 
    Created on : 04-feb-2016, 10:21:16
    Author     : mor
*/
img {
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;
    opacity: 1;
    float: right;
    alignment-adjust: central;
}

div.system div {
    width: 200px;
    height: 200px;
    background-color: burlywood;
    padding: 10px;
    border: 5px solid #000000;
    float: left;
}

div.systemBox {
    width: 200px;
    height: 200px;
    background-color: burlywood;
    padding: 10px;
    border: 5px solid #000000;
    float: left;
}

.over {
    opacity: 0.5;
}

.pick {
    opacity: 0;
}