/* 
    Created on : 04-feb-2016, 10:21:16
    Author     : mor
*/
div div img {
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;
    opacity: 1;
    float: right;
    alignment-adjust: central;
}

div.system {
    width: 200px;
    height: 200px;
    background-color: burlywood;
    padding: 10px;
    border: 5px solid #000000;
    float: left;
    display: inline;
}

.hidden {
    display: none;
}

.over {
    opacity: 0.5;
}

.pick {
    opacity: 0;
}